In [4]:
import pandas as pd
import numpy as np
df = pd.read_csv("D:\\ML_data_set\\1-10-24.csv")
df

   C1  C2  C3  Send  Call  DC  IFMSCV
0   1   4   8     8     5   8       8
1   2   5   5     5     5   9       4
2   5   8   5     5     8   4       2

In [6]:
x = df[["Send","Call","DC","IFMSCV"]]
y = df[["C1","C2","C3"]]

In [7]:
x

   Send  Call  DC  IFMSCV
0     8     5   8       8
1     5     5   9       4
2     5     8   4       2

In [8]:
y

   C1  C2  C3
0   1   4   8
1   2   5   5
2   5   8   5

In [10]:
x[0:2]

   Send  Call  DC  IFMSCV
0     8     5   8       8
1     5     5   9       4