In [8]:
import pandas as pd
!pip install pandas category_encoders

Requirement already satisfied: pandas in e:\anaconda\lib\site-packages (2.0.3)
Collecting category_encoders
  Obtaining dependency information for category_encoders from https://files.pythonhosted.org/packages/98/47/598b4bf0ccf6f02915e71bdd23fe846a27adc2d3ba734f2ba5215d8e44f5/category_encoders-2.6.4-py2.py3-none-any.whl.metadata
  Downloading category_encoders-2.6.4-py2.py3-none-any.whl.metadata (8.0 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in e:\anaconda\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in e:\anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in e:\anaconda\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: scikit-learn>=0.20.0 in e:\anaconda\lib\site-packages (from category_encoders) (1.3.0)
Requirement already satisfied: scipy>=1.0.0 in e:\anaconda\lib\site-packages (from category_encoders) (1.11.1)
Requirement already satisfied: statsmodels>=0.9.0 in e:\anaconda\lib\site-packages (from category_encoders) (0.14.0)
Requirement already satisfied: patsy>=0.5.1 in e:\anaconda\lib\site-packages (from category_encoders) (0.5.3)
Requirement already satisfied: six in e:\anaconda\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in e:\anaconda\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in e:\anaconda\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.2.0)
Requirement already satisfied: packaging>=21.3 in e:\anaconda\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (23.1)
Downloading category_encoders-2.6.4-py2.py3-none-any.whl (82 kB)
   ---------------------------------------- 0.0/82.0 kB ? eta -:--:--
   ---------------------------------------- 0.0/82.0 kB ? eta -:--:--
   ---------------------------------------- 0.0/82.0 kB ? eta -:--:--
   --------- ------------------------------ 20.5/82.0 kB 640.0 kB/s eta 0:00:01
   ----------------------------- ---------- 61.4/82.0 kB 812.7 kB/s eta 0:00:01
   ---------------------------------------- 82.0/82.0 kB 652.4 kB/s eta 0:00:00
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.4

In [9]:
import category_encoders as ce

In [10]:
data = {"category" : ["A", "B", "C","A", "B", "C","A", "B", "C"]}

In [11]:
df = pd.DataFrame(data)
df

  category
0        A
1        B
2        C
3        A
4        B
5        C
6        A
7        B
8        C

In [16]:
encoder = ce.BinaryEncoder(cols=["category"], return_df=True)

In [17]:
df_binary_encoder = encoder.fit_transform(df)
df_binary_encoder

   category_0  category_1
0           0           1
1           1           0
2           1           1
3           0           1
4           1           0
5           1           1
6           0           1
7           1           0
8           1           1