In [58]:
import pandas as pd
from sklearn import tree

In [59]:
df = pd.read_csv("D:\ML-Data-Sets\male female.csv")
df

   height  weight  shoe size  gender
0     181      80         44    male
1     177      70         43  female
2     160      60         38  female
3     154      54         37  female
4     166      65         40    male
5     190      90         47    male
6     175      64         39    male
7     171      75         42  female
8     185      85         43  female
9     169      71         42    male

In [60]:
#x = df.loc["0":"9","height":"shoe size"]
x = df.iloc[0:10,0:3]
x

   height  weight  shoe size
0     181      80         44
1     177      70         43
2     160      60         38
3     154      54         37
4     166      65         40
5     190      90         47
6     175      64         39
7     171      75         42
8     185      85         43
9     169      71         42

In [61]:
#y = df.loc["0":"9","gender":]
y = df.iloc[0:10,3:4]
y

   gender
0    male
1  female
2  female
3  female
4    male
5    male
6    male
7  female
8  female
9    male

In [62]:
classify_ = tree.DecisionTreeClassifier()

In [65]:
classify_.fit(x,y)

DecisionTreeClassifier()

In [106]:
prediction_ = classify_.predict([[110,49,39]])
prediction_

E:\anaconda\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['female'], dtype=object)