In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [13]:
data = {"Feature1":[5,8,5,10,8,6,42],
        "Feature2":[4,52,4,6,20,8,40]
       }

In [14]:
df = pd.DataFrame(data)
df

   Feature1  Feature2
0         5         4
1         8        52
2         5         4
3        10         6
4         8        20
5         6         8
6        42        40

In [19]:
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(df)
scaled_data

array([[0.        , 0.        ],
       [0.08108108, 1.        ],
       [0.        , 0.        ],
       [0.13513514, 0.04166667],
       [0.08108108, 0.33333333],
       [0.02702703, 0.08333333],
       [1.        , 0.75      ]])

In [27]:
scaled_df = pd.DataFrame(scaled_data, columns=df.columns)
scaled_df

   Feature1  Feature2
0  0.000000  0.000000
1  0.081081  1.000000
2  0.000000  0.000000
3  0.135135  0.041667
4  0.081081  0.333333
5  0.027027  0.083333
6  1.000000  0.750000

In [31]:
print("Original DataFrame")
print(df)
print("\nScaled DataFrame")
print(scaled_df)

Original DataFrame
   Feature1  Feature2
0         5         4
1         8        52
2         5         4
3        10         6
4         8        20
5         6         8
6        42        40

Scaled DataFrame
   Feature1  Feature2
0  0.000000  0.000000
1  0.081081  1.000000
2  0.000000  0.000000
3  0.135135  0.041667
4  0.081081  0.333333
5  0.027027  0.083333
6  1.000000  0.750000