In [61]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

In [62]:
data = [['good'], ['bad'], ['excellent'], ['average'], ['good'], 
        ['bad'], ['excellent'], ['average'], ['excellent'], ['average']]

In [63]:
data

[['good'],
 ['bad'],
 ['excellent'],
 ['average'],
 ['good'],
 ['bad'],
 ['excellent'],
 ['average'],
 ['excellent'],
 ['average']]

In [64]:
data = pd.DataFrame(data=data, columns=["review"])
data

      review
0       good
1        bad
2  excellent
3    average
4       good
5        bad
6  excellent
7    average
8  excellent
9    average

In [65]:
categories = [['bad', 'average', 'good', 'excellent']]
categories

[['bad', 'average', 'good', 'excellent']]

In [66]:
encoder = OrdinalEncoder(categories=categories)

In [68]:
encoded_data = encoder.fit_transform(data)
encoded_data

array([[2.],
       [0.],
       [3.],
       [1.],
       [2.],
       [0.],
       [3.],
       [1.],
       [3.],
       [1.]])

In [70]:
decoded_data = encoder.inverse_transform(encoded_data)
decoded_data

array([['good'],
       ['bad'],
       ['excellent'],
       ['average'],
       ['good'],
       ['bad'],
       ['excellent'],
       ['average'],
       ['excellent'],
       ['average']], dtype=object)