In [3]:
import pandas as pd
data = {"x":[1,2,3,4,5,7,10], "y":[2,3,5,4,6,6,8]}

In [4]:
data

{'x': [1, 2, 3, 4, 5, 7, 10], 'y': [2, 3, 5, 4, 6, 6, 8]}

In [5]:
df = pd.DataFrame(data)
df

    x  y
0   1  2
1   2  3
2   3  5
3   4  4
4   5  6
5   7  6
6  10  8

In [9]:
corr = df["x"].corr(df["y"])
print("Pearson Correlation Coefficient :",corr)

Pearson Correlation Coefficient : 0.9391480052471199

In [11]:
df.corr()

          x         y
x  1.000000  0.939148
y  0.939148  1.000000