In [1]:
import numpy as np
import matplotlib.pyplot as pd
import pandas as pd

In [2]:
df = pd.read_csv("D:\ML-Data-Sets\online.csv")
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [3]:
df.shape

(50, 5)

In [4]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

In [5]:
#if missing 
# missing = df.Administration.mean()
# df.Administration = df.Administration.fillna(missing)

In [6]:
x = df.drop(["Profit"], axis=1)
x.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [7]:
y = df["Profit"]
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [8]:
city = pd.get_dummies(x["Area"], drop_first=True, dtype=float)
city.head()

   Dhaka  Rangpur
0    1.0      0.0
1    0.0      0.0
2    0.0      1.0
3    1.0      0.0
4    0.0      1.0

In [9]:
x = x.drop("Area", axis=1)
x.head()

   Marketing Spend  Administration  Transport
0        114523.61       136897.80  471784.10
1        162597.70       151377.59  443898.53
2        153441.51       101145.55  407934.54
3        144372.41       118671.85  383199.62
4        142107.34        91391.77  366168.42

In [10]:
x = pd.concat([x,city], axis=1)
x.head()

   Marketing Spend  Administration  Transport  Dhaka  Rangpur
0        114523.61       136897.80  471784.10    1.0      0.0
1        162597.70       151377.59  443898.53    0.0      0.0
2        153441.51       101145.55  407934.54    0.0      1.0
3        144372.41       118671.85  383199.62    1.0      0.0
4        142107.34        91391.77  366168.42    0.0      1.0

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.25,random_state = 4)

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
reg = LinearRegression()

In [15]:
reg.fit(xtrain,ytrain)

LinearRegression()

In [16]:
xtest.head()

    Marketing Spend  Administration  Transport  Dhaka  Rangpur
6         134615.46       147198.87  127716.82    0.0      0.0
48           542.05        51743.15       0.00    1.0      0.0
11        100671.96        91790.61  249744.55    0.0      0.0
4         142107.34        91391.77  366168.42    0.0      1.0
12         93863.75       127320.38  249839.44    0.0      1.0

In [20]:
ytest.head()

6     156122.51
48     35673.41
11    144259.40
4     166187.94
12    141585.52
Name: Profit, dtype: float64

In [21]:
predict = reg.predict(xtest)
predict

array([144661.02559457,  47508.39360014, 130408.67213126, 168241.68419673,
       128040.84440476,  96058.43547303, 158111.33181909,  98869.91537979,
        77103.79638299, 129817.72886812, 118807.28665267, 100566.77195837,
        99512.75150111])

In [22]:
reg.score(xtest,ytest)

0.9473180647995684