In [46]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [47]:
data = {"Feature1":[1,2,3,4,5,6,7],
        "Feature2":[4,52,4,6,20,8,40]
       }

In [48]:
df = pd.DataFrame(data)
df

   Feature1  Feature2
0         1         4
1         2        52
2         3         4
3         4         6
4         5        20
5         6         8
6         7        40

In [49]:
scaler = StandardScaler()
standard_scaled_data = scaler.fit_transform(df)
standard_scaled_data_df = pd.DataFrame(standard_scaled_data, columns=df.columns)
standard_scaled_data_df

   Feature1  Feature2
0      -1.5 -0.840740
1      -1.0  1.824248
2      -0.5 -0.840740
3       0.0 -0.729699
4       0.5  0.047589
5       1.0 -0.618658
6       1.5  1.158001

In [50]:
print("Original DataFrame")
print(df)
print("\nStandardScaled DataFrame")
print(standard_scaled_data_df)

Original DataFrame
   Feature1  Feature2
0         1         4
1         2        52
2         3         4
3         4         6
4         5        20
5         6         8
6         7        40

StandardScaled DataFrame
   Feature1  Feature2
0      -1.5 -0.840740
1      -1.0  1.824248
2      -0.5 -0.840740
3       0.0 -0.729699
4       0.5  0.047589
5       1.0 -0.618658
6       1.5  1.158001

In [51]:
standard_scaled_data_df["Feature2"].mean()+1

1.0